:root {
    --theme-color: #F4F4F4;
    --sidebar-color: #1b1b1b;
    --sidebar-text-color:#1b1b1b;
    --title-color:#000;
    --button-color: #2A2A2A;
    --button-white-color: #E8E8E8;
    --input-border-color: #626262;
}