:root {
    --blue: #FF5800;
    --light-blue: #fff1db;
    --border-color: #707070;
    --border-color-light: #ffedd1;
    --black: #003865;
    --light-orange: #FFEDE3;
    --white: #ffffff;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

.top-area {
    background: var(--black);
    padding: 20px 0px;
}

a {
    text-decoration: none;
    color: var(--black);
}

.logo img {
    max-width: 100%;
    margin: 10px 0;
}

.search-box img {
    max-width: 100%;
}

@media(max-width:767px) {
    .logo {
        text-align: center;
    }

    .search-box {
        text-align: center !important;
        margin-bottom: 20px;
    }
}

.product-area {
    background-color: var(--white);
}


body {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(250, 251, 255);

}

img {
    max-width: 100%;
    vertical-align: middle;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ol li{
    list-style: circle;
    margin-bottom: 5px;
}

.product-area {
    padding: 60px 0px;
}

/*product slider area  start */


/* product slider area end */
.product-content {
    margin-top: 20px;
}

.product-content h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color: var(--black);
}



.features-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6px;
    margin-top: 10px;
}

@media(max-width:767px) {
    .features-icons {
        grid-template-columns: repeat(2, 1fr);
    }
}

.icon-box {
    border: 1px solid var(--border-color);
    border-radius: 6px;
    text-align: center;
    padding: 30px 10px;
}

.icon-box-img {
    height: 40px;
}

.icon-box p {
    font-size: 18px;
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: 0px;
}

.brand {
    display: flex;
    padding: 10px;
    border-radius: 100px;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}

.brand-logo {
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
}

.brand-content {
    color: var(--black);
}

.brand-content h6 {
    font-weight: 700;
}

/* tab area css start */
.tab-wrapper {
    background: var(--white);
    border-radius: 6px;
    box-shadow: 4px 4px 30px 10px rgb(239 216 197 / 23%);
    padding: 50px;
    margin: 60px 0px;
}

.tabset>input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
    display: block;
}

.tabset>label {
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    margin-right: 8px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 10px 24px;
    cursor: pointer;
}

.tabset>label:hover,
.tabset>input:focus+label {
    color: #06c;
}

.tabset>label:hover::after,
.tabset>input:focus+label::after,
.tabset>input:checked+label::after {
    background: #06c;
}

.tabset>input:checked+label {
    background-color: var(--blue);
    color: var(--white);
}

.tab-panel {
    padding: 30px 0px 0px;
    min-height: 200px;
}

.tab-panel h5 {
    font-weight: 600;
    margin-bottom: 10px;
}

/* tab area css end */
.warranty-area {
    margin-top: 80px;
    margin-bottom: 60px;
}

.warranty-content {
    margin-bottom: 20px;
}

.section-heading {
    font-weight: bold;
    font-size: 36px;
    text-align: left;
    color: #262626;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
}

.promise-area {
    margin-bottom: 80px;
}

.promise-content img {
    max-width: 100%;
    flex-shrink: 0;
}

.shipping-return-area {
    margin-bottom: 50px;
}

.shipping-return-wrapper {
    background-color: var(--light-green);
    padding: 30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.refrushed-area {
    margin-top: 100px;
    margin-bottom: 100px;
}


.featured-content {
    text-align: center;
    background: var(--white);
    box-shadow: 0px 3px 30px rgba(168, 207, 56, 0.36);
    min-height: 330px;
    padding: 40px;
    margin-top: 30px;
}

.featured-content img {
    width: 80px;
}

.featured-content h5 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 36px;
}

.shipping-return-wrapper .img {
    width: 100px;
}

.heading-small {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: var(--black);
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 6px;
}

.category-area {
    margin-bottom: 60px;
}

.category-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    gap: 10;
}

@media(min-width:767px) {
    .category-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width:767px) {
    .single-category {
        height: 200px;
        margin: auto;
    }
}

.category-area {
    background-image: url("https://i.postimg.cc/Mpx2YX7x/category-bg.png");
    padding: 100px 0px;
    background-size: cover;
}

.category-area h4 {
    color: var(--white);
    text-align: center;
}

.category-area .single-category div {
    height: 250px;
    width: 250px;
    cursor: pointer;
    transition: 0.4s;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
    margin: auto;
}

.category-area .single-category div img {
    width: 80px;
}

.category-area .single-category div img.w-50px {
    width: 50px;
}

.category-area .single-category p {
    color: var(--white);
    text-align: center;
    display: block;
    padding: 16px;
    width: 100%;
}



.single-category:hover {
    transform: scale(1.1);
}

.single-category a {
    text-align: center;
}

.single-category a img {
    max-width: 100%;
    margin-bottom: 20px;
}

.single-category p {
    font-weight: 700;
    transition: 0.4s;
    margin-top: 10px;
}

.contact-area {
    background: var(--black);
    padding: 80px 0;
    text-align: center;
}

.contact-btn {
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    padding: 16px 34px;
    display: inline-block;
}

.features table tr:nth-child(odd) {
    background-color: var(--light-blue);
}

.features .table-label {
    color: var(--border-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    padding: 10px;
    text-transform: capitalize;
}

.features .table-value {
    color: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
    display: block;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    text-transform: capitalize;
}

.features .table-value::before {
    content: ":";
    position: absolute;
    top: 10px;
    left: 0;
}

.features .features-tilte {
    font-weight: 600;
    margin-bottom: 16px;
    text-transform: capitalize;
    font-weight: 400;
    color: #707070;
}

.overview-heading {
    padding: 6px 0px;
    color: var(--black);
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 30px;
}

h4.overview-heading {
    color: var(--blue);
}

.overview-content {
    margin-bottom: 20px;
    padding-left: 20px;
}

.promiss-content table tr {
    margin-bottom: 10px;
    display: block;
}

.promiss-content table tr td.tick {
    width: 60px;
    margin-right: 6px;
}

.features-area {}

.single-feature {
    text-align: center;
    padding: 6px 10px;
    display: flex;
    align-items: center;
}

.single-feature img {
    width: 40px;
    /* border: 1px solid var(--blue); */
    border-radius: 100%;
    padding: 6px;
    margin-right: 10px;
    object-fit: cover;
}

.single-feature p {
    font-weight: 600;
}

.specs img {
    width: 24px;
}

.mb-40 {
    margin-bottom: 40px;
}

.img-condition {
    padding: 30px;
    width: 300px;
}

.description-tab-area {
    padding-top: 30px;
    padding-bottom: 30px;
}

.single-feature>p {
    text-align: left;
}

.vendor-SKU {
    margin-bottom: 20px;
}

.vendor-SKU p {
    font-weight: 600;
    margin-right: 10px;
}